@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-25: 25px;
    --font-size-35: 35px;
    --font-size-39: 39px;
    --font-size-42: 42px;
    --font-size-48: 48px;

    --color-orange: #FF5300;
    --color-grey: #373737;
    --color-light-grey: #7B7B7B;
    --color-white: white;
    --color-light-pink: #FFF7F4;
    --color-EFEF-white: #EFEFEF;


    --font-weight-xsm: 300;
    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;

    --ff-work_sans: "Work Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all 300ms linear;
}

.container {
    max-width: 1140px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.67%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.flex-direction-col-reverse {
    flex-direction: column-reverse;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.align-items-start {
    align-items: start;
}

.flex-firection-colmn {
    flex-direction: column;
}

.bg-color-pink {
    background-color: var(--color-light-pink);
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.digiency-1 {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-39);
    font-weight: var(--font-weight-lg);
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.digiency-2 {
    font-family: Work Sans;
    font-size: var(--font-size-39);
    font-weight: var(--font-weight-lg);
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.nav-fonts {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.gap-29 {
    gap: 29px;
}

.lets-talk {
    padding: 10px 22px 10px 22px;
    border-radius: 5px;
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);

    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

/*---------------- section-2----------------- */
.sec-2 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.sec-2-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-xl);
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
    max-width: 604px;
}

.sec-2-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-sm);
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.get-start {
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
    font-family: var(--ff-poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

/* ---------------section-3-------------------- */
.orange-line {
    border-bottom: 1px solid var(--color-orange);
    width: 40px;
}

.our-services {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.sec-3-heading {
    font-family: Poppins;
    font-size: 39px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    font-variant: var(--color-grey);

}

.information-box {
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px #0000001A;
    padding: 30px 20px 20px 20px;
}

.info-box-no {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-EFEF-white);
}

.info-box-heading {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.info-box-type {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.info-box-para {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
    max-width: 325px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-24 {
    margin-top: 24px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.mt-30 {
    margin-top: 30px;
}

@media (min-width:992px) {
    .lg-d-none {
        display: none;
    }

    .lg-mt-0 {
        margin-top: 0;
    }

    .lg-col-4 {
        width: 33.33% !important;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sec-2-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-48) !important;
        font-weight: var(--font-weight-xl);
        line-height: 73px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
        max-width: 604px;
    }

    .sec-2-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16) !important;
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .lg-mt-20 {
        margin-top: 20px;
    }

    .lg-mb-30 {
        margin-bottom: 30px;
    }
}

@media (min-width:768px) {
    .md-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-col-4 {
        width: 33.33% !important;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-mt-10 {
        margin: 10px;
    }

    .md-mb-10 {
        margin-bottom: 10px;
    }

    .md-col-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-col-5 {
        width: 41.67%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-flex-direction-row {
        flex-direction: row;
    }
}

@media (min-width:576px) {
    .sm-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-mt-0 {
        margin-top: 0;
    }

    .sec-2-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-35);
        font-weight: var(--font-weight-xl);
        line-height: 55px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
        max-width: 604px;
    }

    .sec-2-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .get-start {
        padding: 10px 22px 10px 22px;
        border-radius: 5px;
        background-color: var(--color-orange);
        border: 1px solid var(--color-orange);
        font-family: var(--ff-poppins);
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }
}

@media (max-width:992px) {
    .menubox {
        width: 40px;
        height: 30px;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        flex-direction: column;
        z-index: 3;
    }

    .menubox span {
        width: 100%;
        height: 4px;
        background-color: var(--color-grey);
    }

    .navitems {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--color-light-pink);
    }

    .show {
        left: 0
    }

}