@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-23: 23px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-35: 35px;
    --font-size-39: 39px;
    --font-size-42: 42px;
    --font-size-48: 48px;
    --font-size-64: 64px;

    --color-orange: #FF5300;
    --color-grey: #373737;
    --color-light-grey: #7B7B7B;
    --color-white: white;
    --color-light-pink: #FFF7F4;
    --color-EFEF-white: #EFEFEF;


    --font-weight-xsm: 300;
    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;

    --ff-work_sans: "Work Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all 300ms linear;
}

.container {
    max-width: 1170px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.67%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.flex-direction-col-reverse {
    flex-direction: column-reverse;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.justify-content-space-even {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: start;
}

.flex-direction-colmn {
    flex-direction: column;
}

.bg-color-pink {
    background-color: var(--color-light-pink);
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.digiency-1 {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-39);
    font-weight: var(--font-weight-lg);
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.digiency-2 {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-39);
    font-weight: var(--font-weight-lg);
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.nav-fonts {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    color: var(--color-grey);
}

.nav-fonts:hover {
    color: var(--color-orange);
}

.nav-fonts::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--color-orange);
    transition: all 300ms linear;
}

.nav-fonts:hover::before {
    width: 100%;
}

.gap-29 {
    gap: 29px;
}

.lets-talk {
    padding: 10px 22px 10px 22px;
    border-radius: 5px;
    border: 1px solid var(--color-grey);
    background-color: var(--color-light-pink);

    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
    cursor: pointer;
}

.lets-talk:hover {
    background-color: var(--color-grey);
    color: var(--color-light-pink);
}

/*---------------- section-2----------------- */
.sec-2 {
    padding-top: 90px;
    padding-bottom: 40px;
}

.sec-2-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-xl);
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
    max-width: 604px;
}

.sec-2-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-sm);
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.get-start {
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
    cursor: pointer;
}

.get-start:hover {
    color: var(--color-orange);
    background-color: var(--color-white);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

/* ---------------section-3-------------------- */
.orange-line {
    border-bottom: 1px solid var(--color-orange);
    width: 20px;
}

.our-services {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.sec-3-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-lg);
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.information-box {
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px #0000001A;
    padding: 15px 10px 10px 10px;
}

.information-box:hover {
    box-shadow: 0px 0px 14px 13px rgba(0, 0, 0, 0.1);
}

.info-box-no {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-64);
    font-weight: var(--font-weight-lg);
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-EFEF-white);
}

.info-box-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-lg);
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.info-box-type {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-xsm);
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.info-box-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
    max-width: 325px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-30 {
    margin-top: 30px;
}

/* -----------------------section-4---------------------- */
.about-us {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.sec-4-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-lg);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.sec-4-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.sec-4-font-1 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.gap-15 {
    gap: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* -----------------section-5 -----------------*/
.orange-line {
    border-bottom: 1px solid var(--color-orange);
    width: 20px;
}

.our-case-study {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.sec-5-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-lg);
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.index-buttons {
    padding: 12px 20px;
    text-wrap: nowrap;
    cursor: pointer;
}

.index-buttons:hover {
    background-color: var(--color-orange);
    border-radius: 10px;
}

.index-buttons:hover p {
    color: var(--color-white);
}

.sec-4-heading-index {
    overflow-x: auto;
}

.index-fonts {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.position-relative {
    position: relative;
}

.layer-font {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-lg);
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);

}

.image-layer {
    background-color: var(--color-orange);
    position: absolute;
    width: 80%;
    height: 80%;
    opacity: 0;
}

.index-img-box:hover .image-layer {
    opacity: 75%;
}

.index-img-box {
    cursor: pointer;
}

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0;
}

/* ------------section-6------------ */
.our-testimonial {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.sec-6-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-lg);
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

/* slider */

.box {
    border: 2px solid #DDDDDD;
    padding: 15px;
    border-radius: 10px;
}

.slick-slide {
    margin-left: 20px;
    margin-right: 20px;
}

.slick-list {
    margin-left: -25px;
    margin-right: -25px;
}

.slider-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.slider-box-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-orange);
}

.slider-box-type {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-xsm);
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.prev {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--color-grey);
    background: transparent;
    cursor: pointer;
    transition: all 200ms linear;
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translateY(-50%);
}

.next {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--color-grey);
    background: transparent;
    cursor: pointer;
    transition: all 200ms linear;
    position: absolute;
    top: 50%;
    right: -8%;
    transform: translateY(-50%);
}

.prev:hover {
    border: 1px solid var(--color-orange);
}

.prev:hover svg path {
    fill: var(--color-orange);
}

.next:hover {
    border: 1px solid var(--color-orange);
}

.next:hover svg path {
    fill: var(--color-orange);
}

.d-none {
    display: none !important;
}

.overflow-hidden {
    overflow: hidden;
}

/*--------------- section-7--------------- */
.our-capabilities {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-orange);
}

.sec-7-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-lg);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.sec-7-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.sec-7-box {
    box-shadow: 0px 1px 4px 0px #0000001A;
    padding: 15px;
    height: 100%;
}

.sec-7-box:hover {
    box-shadow: 0px 0px 14px 13px rgba(0, 0, 0, 0.1);
}

.sec-7-box-font-1 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-lg);
    line-height: 38px;
    letter-spacing: 0em;
    color: var(--color-orange);
}

.sec-7-box-font-2 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-xsm);
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--color-grey);
    text-align: center;
    /* max-width: 86px; */
}

.text-wrap {
    text-wrap: nowrap;
}

.mt-18 {
    margin-top: 18px;
}

/* --------------section-8------------ */
.rectangle-box {
    background: var(--color-orange);
    padding: 70px 60px 70px 60px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.border-none {
    border: none;
}

.reactangle-box-font-1 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-lg);
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.reactangle-box-font-2 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

/* ---------------section-9------------------ */
.our-blogs {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-orange);
}

.sec-9-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-lg);
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
}

.sec-9-card {
    box-shadow: 0px 1px 4px 0px #0000001A;
    padding: 10px;
    background-color: var(--color-white);
}

.sec-9-svg-font {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-10);
    line-height: var(--font-size-20);
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-grey);
    text-wrap: nowrap;
}

.sec-9-card-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-grey);
}

.sec-9-card-para {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-light-grey);
}

.read-more {
    padding: 10px 15px 10px 15px;
    background-color: var(--color-orange);
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-16);
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
    border-radius: 5px;
    border: 1px solid var(--color-orange);
    cursor: pointer;
}

.read-more:hover {
    background-color: var(--color-white);
    color: var(--color-orange);
}

.gap-10 {
    gap: 10px;
}

.gap-5 {
    gap: 5px;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* -----------sectoin-10---------- */
.sec-10-box {
    background-color: var(--color-orange);
    padding: 40px 20px 40px 20px;
    border-radius: 10px;
}

.newsletter {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.white-line {
    border-bottom: 1px solid var(--color-white);
    width: 20px;
}

.sec-10-heading {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-23);
    font-weight: var(--font-weight-lg);
    line-height: 59px;
    letter-spacing: 0em;
    color: var(--color-white);
}

.w-30 {
    width: 30%;
}

.subscribe-now {
    padding: 10px 20px 10px 20px;
    background: var(--color-orange);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
    border: 1px solid var(--color-orange);
    border-radius: 5px;
    text-wrap: nowrap;
    cursor: pointer;
}

.subscribe-now:hover {
    color: var(--color-orange);
    background-color: var(--color-white);
}

.email-box {
    padding: 5px;
    background-color: var(--color-white);
    border-radius: 5px;
    width: 100%;
}

.input-email {
    border: none;
    outline: none;
    color: var(--color-light-grey);
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 20px;
}

/* -----------footer-------------- */
.footer-bg-img {
    background: url(../images/footer-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-digiency-1 {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-39);
    font-weight: var(--font-weight-lg);
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-orange);
}

.footer-digiency-2 {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-39);
    font-weight: var(--font-weight-lg);
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.footer-font-1 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.footer-font-2 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-lg);
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-orange);
}

.footer-font-3 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.svg-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.svg-circle:hover path {
    fill: var(--color-orange);
}

.footer-line {
    width: 100%;
    height: 1px;
    background: var(--color-white);
}

.copyright {
    font-family: var(--ff-work_sans);
    font-size: var(--font-size-16);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
}

.gap-100 {
    gap: 100px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 5;
}

.scroll-button {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 4;
    width: 50px;
    display: none;
    height: 50px;
    background-color: var(--color-orange);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--color-orange);
}

.scroll-button:hover {
    background: var(--color-white);
}

.scroll-button:hover path {
    fill: var(--color-orange);
}

@media (min-width:1400px) {
    .xxl-d-flex {
        display: flex !important;
    }
}

@media (min-width:1200px) {

    .slider-box-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20) !important;
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .email-box {
        padding: 5px;
        background-color: var(--color-white);
        border-radius: 5px;
        width: 650px !important;
    }

    .sec-9-card-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20) !important;
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-9-card-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16) !important;
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .xl-col-3 {
        width: 25% !important;
        padding-right: 12px;
        padding-left: 12px;
    }

    .xl-mt-0 {
        margin-top: 0;
    }

}

@media (min-width:992.3px) {
    .lg-d-none {
        display: none;
    }

    .lg-align-items-center {
        align-items: center;
    }

    .lg-w-unset {
        width: unset;
    }

    .lg-border-right-1 {
        border-right: 3px solid white;
    }

    .lg-flex-direction-row {
        flex-direction: row;
    }

    .email-box {
        width: 503px
    }

    .lg-border-right-2 {
        border-right: 3px solid white;
    }

    .lg-pl-35 {
        padding-left: 35px;
    }

    .lg-mb-30 {
        margin-bottom: 30px;
    }

    .lg-mb-20 {
        margin-bottom: 20px;
    }

    .lg-mt-0 {
        margin-top: 0;
    }

    .lg-mt-20 {
        margin-top: 20px;
    }

    .lg-mt-18 {
        margin-top: 18px;
    }

    .lg-col-4 {
        max-width: 33.33%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .lg-col-3 {
        width: 25% !important;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sec-2-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-48) !important;
        font-weight: var(--font-weight-xl);
        line-height: 73px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
        max-width: 604px;
    }

    .sec-4-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg);
        line-height: 59px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-2-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16) !important;
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .sec-7-box-font-1 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-25) !important;
        font-weight: var(--font-weight-lg);
        line-height: 38px;
        letter-spacing: 0em;
        color: var(--color-orange);
    }

    .sec-7-box-font-2 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-13) !important;
        font-weight: var(--font-weight-xsm);
        line-height: 19px;
        letter-spacing: 0em;
        color: var(--color-grey);
        text-align: center;
        /* max-width: 86px; */
    }

    .sec-7-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg);
        line-height: 59px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-7-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16) !important;
        font-weight: var(--font-weight-sm);
        line-height: 24px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .footer-digiency-1 {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-39);
        font-weight: var(--font-weight-lg);
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .footer-digiency-2 {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-39);
        font-weight: var(--font-weight-lg);
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .footer-font-1 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16) !important;
        font-weight: var(--font-weight-sm);
        line-height: 24px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .footer-font-2 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-25) !important;
        font-weight: var(--font-weight-lg);
        line-height: 38px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .footer-font-3 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20) !important;
        font-weight: var(--font-weight-md);
        line-height: 30px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .lg-text-wrap {
        text-wrap: nowrap !important;
    }

}

@media (min-width:768px) {
    .md-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-col-4 {
        width: 33.33% !important;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-text-wrap-unset {
        text-wrap: unset;
    }

    .sec-9-card-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .md-gap-70 {
        gap: 70px;
    }

    .sec-9-card-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .orange-line {
        border-bottom: 1px solid var(--color-orange);
        width: 40px !important;
    }

    .white-line {
        border-bottom: 1px solid var(--color-white);
        width: 40px !important;
    }

    .our-services {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-orange);
    }

    .sec-3-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .our-case-study {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-orange);
    }

    .sec-7-box-font-1 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-lg);
        line-height: 38px;
        letter-spacing: 0em;
        color: var(--color-orange);
    }

    .sec-7-box-font-2 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-10);
        font-weight: var(--font-weight-xsm);
        line-height: 19px;
        letter-spacing: 0em;
        color: var(--color-grey);
        text-align: center;
        /* max-width: 86px; */
    }

    .our-capabilities {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .newsletter {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .sec-5-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .our-testimonial {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-orange);
    }

    .our-blogs {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-orange);
    }

    .sec-6-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .sec-9-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .sec-10-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-39) !important;
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        color: var(--color-white);
    }

    .md-mt-10 {
        margin: 10px;
    }

    .md-mt-0 {
        margin-top: 0;
    }

    .md-mt-30 {
        margin-top: 30px;
    }

    .md-mb-10 {
        margin-bottom: 10px;
    }

    .md-col-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-col-5 {
        width: 41.67%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-flex-direction-row {
        flex-direction: row;
    }
}

@media (min-width:576px) {
    .sm-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sec-2 {
        padding-top: 150px;
        padding-bottom: 70px;
    }

    .information-box {
        border-radius: 10px;
        box-shadow: 0px 1px 4px 0px #0000001A;
        padding: 30px 20px 20px 20px;
    }

    .sm-mt-20 {
        margin-top: 20px;
    }

    .read-more {
        padding: 12px 23px 12px 23px;
        background-color: var(--color-orange);
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-20);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
        border-radius: 5px;
        border: 1px solid var(--color-orange);
    }

    .slider-box-heading {
        font-family: var(--ff-poppins);
        font-size: 18px;
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .box {
        border: 2px solid #DDDDDD;
        padding: 25px;
        border-radius: 10px;
    }

    .sm-align-items-center {
        align-items: center;
    }

    .sm-pt-50 {
        padding-top: 50px;
    }

    .sm-flex-firection-row {
        flex-direction: row;
    }

    .sec-10-box {
        background-color: var(--color-orange);
        padding: 65px 40px 65px 40px;
        border-radius: 10px;
    }

    .subscribe-now {
        padding: 15px 30px 15px 30px;
        background: var(--color-orange);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-white);
        border: 1px solid var(--color-orange);
        border-radius: 5px;
        text-wrap: nowrap;
    }

    .lg-d-flex {
        display: flex;
    }

    .sm-col-3 {
        width: 25%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-py-80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .sm-mb-15 {
        margin-bottom: 15px;
    }

    .index-fonts {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .sm-mt-15 {
        margin-top: 15px;
    }

    .sm-py-90 {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .sm-mt-30 {
        margin-top: 30px;
    }

    .sm-mt-0 {
        margin-top: 0;
    }

    .reactangle-box-font-1 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-39);
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .reactangle-box-font-2 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .orange-line {
        border-bottom: 1px solid var(--color-orange);
        width: 30px;
    }

    .white-line {
        border-bottom: 1px solid var(--color-white);
        width: 30px;
    }

    .info-box-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-25);
        font-weight: var(--font-weight-lg);
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .info-box-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
        max-width: 325px;
    }

    .sec-3-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .sec-5-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .sec-6-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .sec-9-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-grey);
    }

    .sec-10-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-lg);
        line-height: 59px;
        letter-spacing: 0em;
        color: var(--color-white);
    }

    .sec-4-font-1 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-4-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-lg);
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }


    .sec-2-heading {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-35);
        font-weight: var(--font-weight-xl);
        line-height: 55px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
        max-width: 604px;
    }

    .sec-4-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .sec-2-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .get-start {
        padding: 10px 22px 10px 22px;
        border-radius: 5px;
        background-color: var(--color-orange);
        border: 1px solid var(--color-orange);
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);

    }

    .sec-7-heading {
        font-family: var(--ff-poppins);
        font-size: 30px;
        font-weight: var(--font-weight-lg);
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-grey);
    }

    .sec-7-para {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-sm);
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-light-grey);
    }

    .footer-digiency-1 {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-39);
        font-weight: var(--font-weight-lg);
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .footer-digiency-2 {
        font-family: var(--ff-work_sans);
        font-size: var(--font-size-39);
        font-weight: var(--font-weight-lg);
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .footer-font-1 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }

    .footer-font-2 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-23);
        font-weight: var(--font-weight-lg);
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-orange);
    }

    .footer-font-3 {
        font-family: var(--ff-poppins);
        font-size: var(1);
        font-weight: var(--font-weight-md);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-white);
    }
}

@media (min-width:576px) and (max-width:992px) {
    .rectangle-box {
        position: relative;
        border-radius: 100px;
    }

    .rectangle-box::before {
        content: "";
        position: absolute;
        height: 84%;
        width: 3px;
        top: 9%;
        right: 50%;
        transform: translateX(-50%);
        background: white;

    }

    .rectangle-box::after {
        content: "";
        position: absolute;
        width: 89%;
        height: 3px;
        top: 50%;
        transform: translateY(-50%);
        background: white;
        left: 5%;
    }

    .space {
        padding-top: 30px;
    }

}

@media (max-width:992px) {
    .menubox {
        width: 40px;
        height: 30px;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
    }

    .menubox span {
        width: 100%;
        height: 4px;
        background-color: var(--color-grey);
    }

    .navitems {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--color-light-pink);
    }

    .show {
        left: 0
    }

}